* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Sofia", sans-serif;
}

body {
  background-color: #f5f8f5;
}

.wrapper-container {
  width: 95%;
  margin: 0 auto;
}
.search-container {
  margin: 1em 0;
}

.search-input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
.search-input:focus {
  border-bottom-color: #2a1cc2;
}

.search-btn {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #2a1cc2;
  color: #f5f8f5;
  border-radius: 5px;
  margin-top: 0.5em;
}

.buttons {
  display: flex;
  column-gap: 1em;
}

.buttons-btn {
  border: 2px solid #110f29;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #1f12ac;
  cursor: pointer;
}

.active {
  background-color: #6759ff;
  color: #f5f8f5;
}

#cars {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card {
  background-color: #fff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width: 720px) {
  img {
    height: 10em;
  }
  .card {
    max-width: 10em;
  }

  #cars {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
